.App {
  text-align: center;
}
.App-header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  background-color: #C8A9B2;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.menu-item{
  margin: 20px;
}
.nav-bar-item{
  display: block;
}
.nav-bar{
  margin: 20px;
  display: inline-block;
}
.nav-bar:hover .sub-list{
  display: block;
}
.sub-list_item{
  padding: 20px;
  color: black;
  display: block;
  font-size: 12px;
  text-decoration: none;
}
.sub-list_item:hover,.nav-bar-item{
  color: black;
}
.sub-list{
  padding: 10px 20px;
  width: 100px;
  background-color: white;
  position: absolute;
  float: bottom;
  display: none;
}
.nav-bar-item{
  text-decoration: none;
  color: white;
  margin: 0px 30px;
  display: inline;
}
.nav-bar-item:hover{
  color: white;
}
.menu-active{
  color:white;
}
.active{
  color:rgb(250, 250, 250);
  text-decoration: none;
}